body{
    font-family:roboto,sans-serif;
    margin:0 ;
    
}
/* header */
nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
}
nav img{
    height:80 px;
}
nav ul{
    display:flex;
    list-style-type: none;
}
nav li{
    margin:0 10px 0 20px;
}
/* main*/
#banniere{
    position:relative;
}
#banniere-img{
    height:450 px;
    width:100%;
}
#banniere-container{
    position:absolute;
    top:0;
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
#banniere-container img{
    height:13%;
    
}
h1{
    color:white;
    font-weight:400
    font-size:26 px;

}
/*presentation*/
#presentation{
    display:flex;
    flex-direction:column;
    align-items:center;
    width:100%;
    text-align:center;
}
#presentation-description{
    max-width:700 px;
}
#information{
    max-width:70%;
    display:flex;
}
#information article{
    padding:10 px;
}
#quote{
    max-width:600px;
}



